@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/public/output.css";

html {
  scroll-behavior: smooth;
}
:root {
  --bColor: #1d2937;
}
body {
  background-repeat: repeat;
  background-color: var(--bColor);
}

.container {
  margin: 0px auto;
  width: 100%;
}

nav li,
footer li {
  display: block;
  color: white;
  font-size: 20px;
  padding: 5px;
  border: 1px solid transparent;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
nav li a {
  text-decoration: none;
  display: block;
}
nav li:hover,
footer li:hover {
  background-color: rgb(255, 196, 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about {
  padding: 200px 60px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.about img {
  width: 400px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 40px;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.AboutText {
  color: white;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.AboutText span {
  color: orange;
  margin-bottom: 5px;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.skillsSection {
  padding: 200px 60px;
}

h1 {
  color: rgb(241, 162, 13);
  text-align: center;
  font-size: 60px;
  font-weight: 800;
}
.photography,
.paintings {
  width: 100%;
}

.paintHead,
.photographyHead {
  font-size: 20px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: 96%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin: 47px auto;
}

.skillsSection ul li {
  padding: 10px 30px;
  color: rgb(238, 238, 238);
  background-color: rgb(255 255 255 / 17%);
  border: 1px solid transparent;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
nav li:hover,
footer li:hover {
  padding: 5px 60px;
  color: white;
  font-weight: bold;
}
.card {
  margin: 0px auto;
  box-shadow: 0 0 18px 3px #00000066;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  border: solid 1px rgba(255, 255, 255, 0.151);
}
@media (max-width: 600px) {
  .card {
    width: 350px;
  }
  .AboutText {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .AboutText span {
    color: orange;
    margin-bottom: 5px;
    font-size: 39px;
    font-weight: bolder;
    padding-bottom: 10px;
  }
}
.card p {
  color: rgb(165, 162, 162);
}
.buttons {
  margin-bottom: 30px;
}
.buttons span {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
.artWorks {
  background-color: var(--bColor);
}
.artWorks button span {
  height: 86px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 200px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.artWorks button span:hover {
  height: 86px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 10px 60px;
}

.contact img {
  margin-top: 20px;
  width: 350px;
}

.contact a {
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 20px;
}

.text {
  color: orange;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 6px 5px 5px #c0c0c08c;
}

footer {
  width: 100%;
  height: 400px;
  color: white;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.img {
  position: fixed;
  width: 410px;
  top: 50%;
  display: block;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.img::after {
  content: "X";
  color: white;
  position: absolute;
  right: -15px;
  top: 0px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.img::after:hover {
  background-color: aquamarine;
  font-size: larger;
}
.contactB {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.contactB:hover {
  padding: 10px 30px;
}

img:hover {
  cursor: pointer;
}

.item {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.item:hover {
  padding: 8px 50px;
}

body[data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
}

iframe {
  width: 100%;
  height: 50%;
}

.videoCard {
  height: 555px;
  width: 90%;
}
